.header{
  width:1200px;
  height:100%;
  padding-bottom:100px;
  &__logo{
    height:120px;
    padding:110px 0 0 120px;
    margin-bottom:140px;
  }
  ul{
    list-style: none;
    padding-right:20px;
    display:flex;
    justify-content: flex-end;
    >li{
      padding:27px 100px 0 0 ;
      letter-spacing: 0.1em;
    }
    a{
      color: black;
      text-decoration: none;
    }
  }
}

.kreative-logo{
  width:150x;
  height:150px;
}


.main{
  width:1200px;
  height:500px;
  margin-bottom:100px;
  display: flex;
  > .main-image{
  background:olive;
  width:900px;
  height:500px;
  }
  &__title{
  width:200px;
  padding:80px 40px 0 0px;
  font-size:32px;
  font-family: 'Hiragino Mincho Pro';
  letter-spacing: 0.8em;
  writing-mode: vertical-rl;
  >p{
    padding:57px 18px 0 0;
  }
  }
}
.wrapper{
  width:1200px;
  height:100%;
  letter-spacing: 0.1em;

  &__about{
    padding:100px 0;
    height:200px;
    display:flex;
    align-content:space-between;
    &__box{
      width:200px;
      height:200px;
      >.title{
        padding:0 20px 150px 100px;
      }
      >.more{
        padding:120px 20px 0 100px;
        font-size:50px;
        color:lightgray;
        text-align: center;
      }
    }
    &__image{
      // padding-left:100px;
      >.about-image{
        width:780px;
        height:300px;
        // object-fit: contain;
      }
    }
  }

  &__works{
    width:1000px;
    padding:100px;
    >.title{
      padding-bottom:50px;
    }
    &__image01{
      width: 1000px;
      padding:50px 0 18px;
      display:flex;
      // flex-wrap:wrap;
      >.works-image01{
        padding-right:18px;
        width:50%;
        height:400px;
      } 
    }
    &__image02{ 
      width: 1000px;
      padding-top:18px;
      display:flex;
      // flex-wrap:wrap;
      >.works-image02{
        padding-right:18px;
        width:326px;
        height:200px;
      }    
      >.more{
        padding-left:30px;
        font-size:50px;
        line-height: 200px;
        margin:auto;
        color:lightgray;
        text-align: center;
      }
    }
  }

  &__price{
    padding:100px;
    >.title{
      padding-bottom:50px;
    }
    &__image{
      width: 340px;
      height: 200px;
      padding:50px 0;
      display:flex;
      >.price-image{
        padding-right:12px;
        width:340px;
        height:200px;
      }     
      >.more{
        padding-left:30px;
        font-size:50px;
        line-height: 200px;
        margin:auto;
        color:lightgray;
        text-align: center;
      }
    }
  }

  &__contact{
    padding:100px 100px 0;
    >.title{
      padding-bottom:50px;
    }
    &__container{
      background:rgb(161, 159, 159);
      color:white;
      width: 1000px;
      height: 350px;
      text-align: center;
      display:flex;
      &__main{
        padding:0 120px 0 280px;
        &__office{
          padding-top:50px;
        }
        &__office_name{
          font-size:20px;
          padding-bottom:40px;
        }
        &__tel{
          font-size:20px;
          >span{
            padding-left:14px;
            font-size:40px;
          }
        }
      }
      > .more{
        padding-left:30px;
        font-size:50px;
        line-height: 200px;
        margin:auto;
        color:rgb(105, 104, 104);
        text-align: center;
      }
    }
  }
  
  a{
    color: black;
    text-decoration: none;
  }
}



.footer{
  padding:100px 120px;
  width:1000px;
  font-size:14px;
  display:flex;
  // justify-content: space-between;
  &__list{ 
    >ul{
      list-style: none;
      >li{
        padding:27px 100px 0 0 ;
        letter-spacing: 0.1em;
      }
      & .title{
        font-size:26px;
        font-weight: bold;
      }
    }
  }
  &__sns{
    width:95px;
    padding:66px 0 0 630px;
    >ul{
      & li{
        padding:4px;
        >i{
          font-size:20px;
          padding-left: 60px;
        }
      }
    }
  }
  .footer-logo{
    width:80x;
    height:80px;
    padding-top:100px;
  }
  a{
    color: black;
    text-decoration: none;
  }
}
