=render "header"

.about
  .about__title
    KREATIVEについて
  .about__description
  KREATIVEは、エクステリアデザインこれまでの多くの施工実績を元に、オリジナルの外構・エクステリアのCAD図面/3Dパースを作成します。
  こだわりのある唯一無二のお庭づくりを叶えます。

  %br
  %br
  企業様向け
  %br
  施主様にご覧いただく3D図面が必要な場合や、急遽図面が必要な場合にも柔軟に対応いたします。
  社内でのCAD図面製作体制が整っていない場合や工事用に詳細寸法を入れた図面がほしい場合など、
  KREATIVEがお手伝いします。
  フルカラーの図面や360度VRパース等も作成することができ、施主様がイメージをつかみやすく、商談がスムーズになります。
  3DCAD図面があれば、打ち合わせスピードや内容が効率化されます。
  住宅の立面図があれば施主様の建物も含めたパースが作成できます。
  %br
  %br
  個人のお客様
  %br
  お打ち合わせ後、ご希望の図面を作成いたします。どのような希望にもじっくりご相談しながら柔軟に対応いたします。
  納得のいくまでお打ち合わせし、夢をカタチにします。
  
  
  デザインから工事用の施工図面を描き起こしまで、丁寧にお手伝いします。

%hr

%input{type: "color"}



=render "footer"