=render "header"

.price-table
  %table
    %tr
      %th 平面図のみ 
      %td ¥15000
    %tr
      %th 建物＋平面図＋パース４枚
      %td ¥25000
    %tr
      %th 追加パース(1枚あたり)
      %td ¥500
    %tr
      %th 夜景パース(1枚あたり)
      %td ¥1000
    %tr
      %th VR(1か所あたり)
      %td ¥1500
    %tr
      %th 修正
      %td ¥2000〜¥20000(内容により異なる。応相談)

=render "footer"